<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Str1" value="Green"/>
  </appSettings>
  <connectionStrings>
    <add name="defaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Laboratorian.DB"/>
  </connectionStrings>
</configuration>